.cart-container {
  display: flex;
  width: 100%;
}
app-order-summary {
  width: 60%;
}
app-price-details {
  width: 500px;
}
@media screen and (max-width: 1016px) {
  .cart-container {
    display: block;
  }
  app-order-summary {
    width: 100%;
  }
  app-price-details {
    width: 100%;
  }
}
