.product-create-container {
  width: 100%;
}
mat-card {
  margin: auto;
  max-width: 800px;
}
mat-form-field {
  width: 100%;
}
input[type="file"] {
  visibility: hidden;
}

.image-preview {
  height: 5rem;
  margin: 1rem 0;
}

.image-preview img {
  height: 100%;
}
.vertical {
  display: none;
}
@media screen and (max-width: 600px) {
  .vertical {
    display: initial;
  }
  .horizontal {
    display: none;
  }
}
