<mat-card>
  <mat-card-header>
    <mat-card-title> Orders </mat-card-title>
  </mat-card-header>
  <mat-accordion multi="true">
    <mat-expansion-panel *ngFor="let i of arr">
      <mat-expansion-panel-header>
        {{ i.name }}
      </mat-expansion-panel-header>
      <div class="order-details-container">
        <img [src]="i.img" />
        <div class="order-details">
          Ordered On: <a class="ans">{{ i.orderDate }}</a
          ><br />
          Delivery Date: <a class="ans">{{ i.deliveryDate }}</a
          ><br />
          Status: <a class="ans">{{ i.status }}</a>
        </div>
      </div>
      <mat-action-row>
        <button mat-button>Write a review</button>
        <button
          mat-raised-button
          color="primary"
          *ngIf="i.status == 'delivered'"
        >
          Return
        </button>
        <button
          mat-button
          color="primary"
          [disabled]="i.cancel"
          *ngIf="i.status != 'delivered'"
        >
          Cancel
        </button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
</mat-card>
