<mat-list class="sidenav-list">
  <mat-list-item class="list-header sidenav-list-item"
    ><mat-card-header class="header-card">
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title class="card-title">Shiba Inu</mat-card-title>
    </mat-card-header></mat-list-item
  >
  <mat-list-item matRipple class="shop-by-category-p"
    >Shop by Category</mat-list-item
  >
  <mat-list-item
    matRipple
    class="sidenav-list-item"
    [routerLink]="['/products', 'electronics']"
    >Electronics</mat-list-item
  >
  <mat-list-item
    matRipple
    class="sidenav-list-item"
    [routerLink]="['/products', 'homedecor']"
    >Home Decor</mat-list-item
  >
  <mat-list-item
    matRipple
    class="sidenav-list-item"
    [routerLink]="['/products', 'education']"
    >Education</mat-list-item
  >
  <mat-divider></mat-divider>
  <mat-list-item class="shop-by-category-p">Help & Settings</mat-list-item>
  <mat-list-item
    matRipple
    class="sidenav-list-item"
    [routerLink]="['/accountdetails', 'id']"
    >Your Account</mat-list-item
  >
  <mat-list-item matRipple class="sidenav-list-item" routerLink="/viewOrders"
    >Your Orders</mat-list-item
  >
  <mat-list-item matRipple class="sidenav-list-item">Log Out</mat-list-item>
</mat-list>
